@layer base {
    h1 {
        @apply text-4xl font-bold leading-tight;
    }

    h2 {
        @apply text-3xl font-semibold leading-snug;
    }

    h3 {
        @apply text-2xl font-semibold;
    }

    h4 {
        @apply text-xl font-medium;
    }

    h5 {
        @apply text-lg font-medium;
    }



    a {
        @apply relative after:absolute after:left-1/2 after:-bottom-1 after:h-[2px] after:w-0 after:-translate-x-1/2 after:bg-current after:transition-all after:duration-300 hover:after:w-full;
    }
}