@import "tailwindcss";
@import "@/assets/css/theme.css" layer(theme);
@import "@/assets/css/layer.css" layer(layer);


:root {
  --color-primary: #021182;
  --color-secondary: #38bdf8;

  /* --color-background: #E3E3E3; */
  --color-white: #ffffff;


  background-color: var(--color-background);
  font-family: system-ui, Helvetica, Arial, sans-serif;
  text-align: justify;

  ::-webkit-scrollbar {
    display: none;
  }
}